@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin 'daisyui' {
    themes: false;
}

@theme {
    --color-primary: #265b9e;
    --color-primary-red: #d64a33;
    --color-secondary: #3981ca;
    --color-accent: #245898;
    --color-ivory: #f3ecdc;
    --color-neutral: #0b0809;
    --radius-field: 0.25rem;
    --container-container: 1400px;
}

/* CSS Variables */
:root {
    --sidebar-logo-height: 70px;
}

.link {
    @apply hover:bg-secondary/20 flex cursor-pointer items-center gap-6 rounded-md p-2.5 font-medium no-underline duration-300 select-none;
}

.active {
    @apply bg-primary hover:bg-primary text-white;
}

.active svg {
    @apply text-white;
}

.sub-menu.active {
    @apply text-primary bg-transparent;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(252, 252, 252, 0.6);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-primary));
}

::-webkit-scrollbar-thumb:hover {
    opacity: 90;
}

/* Prevent Autofill CSS */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-primary);
    transition: background-color 5000s ease-in-out 0s;
}

/* Error Page Linear Gradient */
.error-page-linear-gradient {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.bg-muted {
    background-color: hsl(240 3.7% 15.9%);
}
